body {
    font-family: Arial, Helvetica, sans-serif;
    float: left;
}

#bio {
    padding: 25px;
    margin: 25px;
    background: rgb(197, 78, 78);
    color: rgb(235, 233, 229);
}

.education {
    background: rgb(245, 183, 103);
    padding: 25px;
    margin: 25px;
}

.experience {
    padding: 25px;
    margin: 25px;
    background-color: rgb(147, 192, 141);
    color: rgb(0, 2, 2);
}

h1 {
    color: rgb(33, 201, 201);
    text-decoration: underline;
}

#work {
    color: rgb(255, 255, 255);
    text-shadow: cornsilk;
}

h2 {
    color: aqua;
}

h3 {
    color: crimson;
}

main { 
    text-align: left; 
}

#photo {
    image-orientation: initial;
    width: 450px;
    height: 250px;
    margin-left: 0rem;
}

.image {
    border: none;
    object-position: left;
}


#spanid {
    border: aqua;
    background-color: blueviolet;
    font-size: inherit;
    color: white;
}

